<table class="w-full border-collapse table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">#</th>
        <th class="py-3 px-6 text-left">Name</th>
        <th class="py-3 px-6 text-left" (click)="sortByScore()">Score</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <tr *ngFor="let productScore of productScores; index as i" class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left">{{ i + 1 + currentPage * currentSize}}</td>
        <td class="py-3 px-6 text-left">{{ productScore.productDTO.name }}</td>
        <td class="py-3 px-6 text-left">{{ productScore.score }}</td>
      </tr>
    </tbody>
</table>

  <div class="flex gap-2 mt-6 w-full justify-center">
    <button (click)="setPageNumber(0)" class="h-8 w-8 rounded-full justify-center items-center flex">
        <<
    </button>
    <button (click)="setPageNumber(this.pageNumber - 1)" class="h-8 w-8 rounded-full justify-center items-center flex">
        <
    </button>
    <div *ngFor="let page of [this.pageNumber - 2, this.pageNumber - 1, this.pageNumber, this.pageNumber + 1, this.pageNumber + 2, ]">
      <button (click)="setPageNumber(page)" *ngIf="page >= 0 && page < totalPages" class="h-8 w-8 rounded-full justify-center items-center flex" [ngClass]="{'bg-blue-600': page==this.currentPage}">
        {{ page }}
      </button>
    </div>
    <button (click)="setPageNumber(this.pageNumber + 1)" class="h-8 w-8 rounded-full justify-center items-center flex">
      >
    </button>
    <button (click)="setPageNumber(this.totalPages - 1)" class="h-8 w-8 rounded-full justify-center items-center flex">
      >>
    </button>
    <input type="text" class="h-8 w-8 border-2 border-slate-400 text-center" [(ngModel)]="desiredPage" (keydown.enter)="setPageNumber(desiredPage)">
  </div>